[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/SouhanSarbas
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/SouhanSarbas
	label-Verified = -1..+1 group user/SouhanSarbas
	push = group user/SouhanSarbas
	read = group user/SouhanSarbas
	rebase = group user/SouhanSarbas
	removeReviewer = group user/SouhanSarbas
	submit = group user/SouhanSarbas
[access "refs/heads/*"]
	create = group user/SouhanSarbas
	push = +force group user/SouhanSarbas
	pushMerge = group user/SouhanSarbas
	read = group user/SouhanSarbas
[access "refs/tags/*"]
	push = group user/SouhanSarbas
	push = +force group user/SouhanSarbas
